@import '~antd/dist/antd.css';



#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.colores{

color: #3423A6;
text-align: center;
font-size: 30px;

}

.movimiento{

  direction:"down";
     width: "250";
   height:"200";
   



}

p{

  text-align: center;
  font-size: 20px;


}

.familia{

width: 60%;

height: 40%;

display:block;
margin:auto;

margin-bottom: 50px;

border-radius: 10px;



}